<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="/styles/normalize.css" type="text/css" rel="stylesheet" >
    <link href="/styles/main.css" type="text/css" rel="stylesheet" >
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Tiny Fam</title>
</head>

<body>
{% block header %}
    {{ include('header.html') }}
{% endblock %}
<main>
{% block body %}
    {{ include('body.html') }}
{% endblock %}
</main>
{% block footer %}
    {{ include('footer.html') }}
{% endblock %}
</body>
</html>